[submodule "examples/coap/libcoap"]
	path = examples/coap/libcoap
	url = git@github.com:obgm/libcoap.git
	branch = release-4.3.4
[submodule "2305-Wakaama"]
	path = 2305-Wakaama
	url = git@github.com:Friendly-Technologies/Friendly-Wakaama.git
	branch = f_main
